<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__triangle_bg --svg__reviews_triangle_bg"></div>
        <h2 class="title reviews__title">
            Получите неограниченный доступ
            <span>к аркадам, платформерам и гонкам</span>
        </h2>
        <div class="reviews__collage">
            <div class="reviews__collage_img reviews__collage_img1"></div>
            <div class="reviews__collage_img reviews__collage_img2"></div>
            <div class="reviews__collage_img reviews__collage_img3"></div>
            <div class="reviews__top_ellipse --svg__reviews_top_ellipse"></div>
            <div class="reviews__bottom_ellipse --svg__reviews_bottom_ellipse"></div>
        </div>
        <div class="reviews__list_wrapper">
            <ul class="reviews__list">
                <li class="reviews__li">Десятки игровых наименований</li>
                <li class="reviews__li">Положительные оценки от игроков</li>
                <li class="reviews__li">Свыше 2000 пользователей</li>
                <li class="reviews__li">Большое онлайн-присутствие</li>
            </ul>
            <a href="#order" class="button reviews__button">начать игру</a>
            <div class="reviews__comment">
                Отключить подписку можно в любой момент в разделе Управления подпиской.
            </div>
        </div>
        <div class="reviews__slider_wrapper">
            <h2 class="title reviews__slider_title">наши геймеры <span>говорят о нас</span></h2>
            <div class="swiper">
                <div class="reviews__slider swiper-wrapper">
                    <div class="reviews__slider_item swiper-slide">
                        <img src="img/reviews/users_photos/reviews_user_photo1.webp" alt="user_photo" class="reviews__user_photo">
                        <div class="reviews__slider_item_text">
                            <div class="reviews__user_name_wrapper"><div class="reviews__user_name">Анатолий</div> <div class="reviews__user_nickname">crazyishere</div></div>
                            <div class="reviews__user_review">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Duis vel justo suscipit est interdum imperdiet.
                                Fusce in venenatis turpis. Cras volutpat eu nisi eget malesuada.
                                Quisque sed elementum quam, non consectetur neque.
                                Donec ut lacus ac velit sagittis porta quis a urna.
                                Integer ultricies nunc id aliquam ornare.
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slider_item swiper-slide">
                        <img src="img/reviews/users_photos/reviews_user_photo2.webp" alt="user_photo" class="reviews__user_photo">
                        <div class="reviews__slider_item_text">
                            <div class="reviews__user_name_wrapper"><div class="reviews__user_name">maша</div> <div class="reviews__user_nickname">maryshark</div></div>
                            <div class="reviews__user_review">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Duis vel justo suscipit est interdum imperdiet.
                                Fusce in venenatis turpis. Cras volutpat eu nisi eget malesuada.
                                Quisque sed elementum quam, non consectetur neque.
                                Donec ut lacus ac velit sagittis porta quis a urna.
                                Integer ultricies nunc id aliquam ornare
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slider_item swiper-slide">
                        <img src="img/reviews/users_photos/reviews_user_photo1.webp" alt="user_photo" class="reviews__user_photo">
                        <div class="reviews__slider_item_text">
                            <div class="reviews__user_name_wrapper"><div class="reviews__user_name">Анатолий</div> <div class="reviews__user_nickname">crazyishere</div></div>
                            <div class="reviews__user_review">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Duis vel justo suscipit est interdum imperdiet.
                                Fusce in venenatis turpis. Cras volutpat eu nisi eget malesuada.
                                Quisque sed elementum quam, non consectetur neque.
                                Donec ut lacus ac velit sagittis porta quis a urna.
                                Integer ultricies nunc id aliquam ornare.
                            </div>
                        </div>
                    </div>
                    <div class="reviews__slider_item swiper-slide">
                        <img src="img/reviews/users_photos/reviews_user_photo2.webp" alt="user_photo" class="reviews__user_photo">
                        <div class="reviews__slider_item_text">
                            <div class="reviews__user_name_wrapper"><div class="reviews__user_name">maша</div> <div class="reviews__user_nickname">maryshark</div></div>
                            <div class="reviews__user_review">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Duis vel justo suscipit est interdum imperdiet.
                                Fusce in venenatis turpis. Cras volutpat eu nisi eget malesuada.
                                Quisque sed elementum quam, non consectetur neque.
                                Donec ut lacus ac velit sagittis porta quis a urna.
                                Integer ultricies nunc id aliquam ornare
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__prev_btn --svg__reviews_prev_btn swiper-button-prev"></div>
            <div class="reviews__next_btn --svg__reviews_next_btn swiper-button-next"></div>
        </div>
    </div>
</section>