<footer class="footer">
    <div class="container">
        <div class="footer__items flex --just-space --align-center">
            <a href="#" class="footer__subscr_manage">Управление подпиской</a>
            <div class="footer__log_in flex --just-space --align-center">
                <div class="footer__question">Уже есть доступ?</div>
                <a href="" class="button footer__button">Войти</a>
            </div>
            <div class="footer__copyright">Copyright 2022-2023 Instandgames.com</div>
        </div>
    </div>
</footer>
