.footer{
  padding: 8rem 0 2rem 0;
  background: #EBF3FB;
  .footer__items{
    width: 109.5rem;
    margin: 0 auto;
    .footer__subscr_manage{
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: -0.04rem;
    }
    .footer__log_in{
      gap: 1.4rem;
      .footer__question{
        color: #A4A4A4;
        text-align: right;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: -0.0275rem;
      }
      .footer__button{
        width: 16rem;
        height: 3.5rem;
        font-size: 1.4rem;
      }
    }
    .footer__copyright{
      color: #263151;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: -0.03rem;
    }
  }
}