.button{
  border-radius: 3px;
  background: linear-gradient(180deg, #78BEFF 0%, #3F9DF3 100%);
  box-shadow: 0 0 4px 0 #76BDFF;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
}