<header class="header">
    <div class="container flex --just-space --align-center">
        <div class="header__logo --svg__site_logo"></div>
        <div class="header__items flex --just-space --align-center">
            <nav class="header__links flex --just-space">
                <a href="#" class="header__link">Наши игры</a>
                <a href="#" class="header__link">Подписка</a>
                <a href="#" class="header__link">Отзывы</a>
                <a href="#" class="header__link">Заказ</a>
            </nav>
            <div class="header__log_in flex --just-space --align-center">
                <div class="header__question">Уже есть доступ?</div>
                <a href="#" class="header__button button">Войти</a>
            </div>
        </div>
    </div>
</header>
