<section class="advantages" id="our_games">
    <div class="container">
        <h2 class="advantages__title title">Наши HTML-игры доступны <span>прямо из вашего браузера</span></h2>
        <div class="advantages__descr_wrapper">
            <p class="advantages__bold_descr">
                Это делает игровой процесс максимально удобным и легкодоступным.
                Откройте для себя захватывающий мир игр, которые подойдут как для детей, так и для взрослых.
                Новые игры регулярно добавляются, так что у нас всегда найдется что-то новое и увлекательное.
            </p>
            <p class="advantages__regular_descr">
                Погрузитесь в мир веселья, приключений и вызовов, играя в наши HTML-игры. 
                Без необходимости скачивания и установки программ, вы можете начать игру прямо сейчас. 
                Время весело провести в компании наших увлекательных игр!
            </p>
        </div>
        <div class="advantages__cards">
            <div class="advantages__card">
                <img src="img/advantages/advantages_card1.webp" alt="game-card" class="advantages__img">
                <div class="advantages__name_wrapper flex --just-space --align-center">
                    <div class="advantages__game_name">Christmas Bubbles</div>
                    <div class="advantages__stars_wrapper flex --just-space --align-center">
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star",
                        "id": "css--advantages--advantages_star",
                        })
                    </div>
                </div>
            </div>
            <div class="advantages__card">
                <img src="img/advantages/advantages_card2.webp" alt="game-card" class="advantages__img">
                <div class="advantages__name_wrapper flex --just-space --align-center flex --just-space">
                    <div class="advantages__game_name">Monster Match</div>
                    <div class="advantages__stars_wrapper flex --just-space --align-center">
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star",
                        "id": "css--advantages--advantages_star",
                        })
                    </div>
                </div>
            </div>
            <div class="advantages__card">
                <img src="img/advantages/advantages_card3.webp" alt="game-card" class="advantages__img">
                <div class="advantages__name_wrapper flex --just-space --align-center flex --just-space">
                    <div class="advantages__game_name">Space Purge</div>
                    <div class="advantages__stars_wrapper flex --just-space --align-center">
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                    </div>
                </div>
            </div>
            <div class="advantages__card">
                <img src="img/advantages/advantages_card4.webp" alt="game-card" class="advantages__img">
                <div class="advantages__name_wrapper flex --just-space --align-center flex --just-space">
                    <div class="advantages__game_name">Air Warfare</div>
                    <div class="advantages__stars_wrapper flex --just-space --align-center">
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star",
                        "id": "css--advantages--advantages_star",
                        })
                    </div>
                </div>
            </div>
            <div class="advantages__card">
                <img src="img/advantages/advantages_card5.webp" alt="game-card" class="advantages__img">
                <div class="advantages__name_wrapper flex --just-space --align-center flex --just-space">
                    <div class="advantages__game_name">Traffic Command</div>
                    <div class="advantages__stars_wrapper flex --just-space --align-center">
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                    </div>
                </div>
            </div>
            <div class="advantages__card">
                <img src="img/advantages/advantages_card6.webp" alt="game-card" class="advantages__img">
                <div class="advantages__name_wrapper flex --just-space --align-center flex --just-space">
                    <div class="advantages__game_name">Kingdom Defence</div>
                    <div class="advantages__stars_wrapper flex --just-space --align-center">
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star advantages__star_active",
                        "id": "css--advantages--advantages_star",
                        })
                        @@include('../_sprite.html',{
                        "class": "advantages__star",
                        "id": "css--advantages--advantages_star",
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#order" class="advantages__button button">начать игру</a>
</section>