.promo{

  display: none;

  padding: 12rem 0;
  position: relative;
  background: url("data:image/svg+xml;charset=utf8, %3Csvg width='416' height='441' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M342 294c0 66.274-53.726 120-120 120s-120-53.726-120-120 53.726-120 120-120 120 53.726 120 120zm-191.745 0c0 39.624 32.121 71.745 71.745 71.745s71.745-32.121 71.745-71.745-32.121-71.745-71.745-71.745-71.745 32.121-71.745 71.745zM443 391c0 27.614-22.386 50-50 50s-50-22.386-50-50 22.386-50 50-50 50 22.386 50 50zm-73.362 0c0 12.902 10.46 23.362 23.362 23.362 12.902 0 23.362-10.46 23.362-23.362 0-12.902-10.46-23.362-23.362-23.362-12.902 0-23.362 10.46-23.362 23.362zM98.277 395.518a3.722 3.722 0 003.723-3.722v-21.592a3.722 3.722 0 00-3.723-3.722H65.518v-32.759A3.723 3.723 0 0061.796 330H40.204a3.723 3.723 0 00-3.722 3.723v32.759H3.722A3.722 3.722 0 000 370.204v21.592a3.722 3.722 0 003.723 3.722h32.759v32.759A3.723 3.723 0 0040.204 432h21.592a3.723 3.723 0 003.722-3.723v-32.759h32.76zM282.33 97.567c-1.924-3.334.481-7.5 4.33-7.5h162.813c3.849 0 6.255 4.166 4.33 7.5l-81.406 141c-1.925 3.333-6.736 3.333-8.66 0l-81.407-141z' fill='%23fff'/%3E%3C/svg%3E")
                100% 118% / 24% no-repeat,
              url("../img/promo/promo_yellow_swirl.webp")
                0 -20%rem / 41.3rem 39.5rem no-repeat,
              url("../img/promo/promo_green_swirl.webp")
                101% -9%/37rem 34.6rem no-repeat,
              url("data:image/svg+xml;charset=utf8, %3Csvg width='520' height='522' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M518 261.5A259.501 259.501 0 00269.232 2.222' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-dasharray='15 15'/%3E%3Cpath d='M28.222 380.046a259 259 0 00235.3 140.405' stroke='%23B7BDCF' stroke-linecap='round' stroke-dasharray='15 15'/%3E%3C/svg%3E")
                77% 60%/51.7rem no-repeat,
              url("../img/promo/promo_bg.webp")
                center no-repeat / cover;
  .container{
    position: relative;
    .promo__wrapper{
      width: 66.4rem;
      height: 54.3rem;
      flex-direction: column;
      flex-wrap: wrap;
      .promo__titles{
        position: relative;
        .promo__title{
          color: #545F7E;
          font-family: 'Proserpina-Deco', sans-serif;
          font-size: 9.7rem;
          width: 68rem;
          letter-spacing: -0.2425rem;
          line-height: normal;
          span{
            color: #46D2B9;
          }
        }
        .promo__subtitle{
          color: #545F7E;
          font-size: 3.2rem;
          font-weight: 200;
          line-height: normal;
          letter-spacing: 1.616rem;
          text-transform: uppercase;
          min-width: 55.7rem;
          position: absolute;
          top: 14rem;
          left: 13rem;
        }
      }
      .promo__descr_wrapper{
        margin-top: 5rem;
        .promo__descr_title{
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: -0.05rem;
          span{
            text-transform: uppercase;
          }
        }
        .promo__descr{
          font-weight: 300;
          text-align: center;
        }
        .promo__descr_top{
          margin-top: 1rem;
          font-size: 1.6rem;
        }
        .promo__delimeter{
          width: 100%;
          height: 2.8rem;
          margin-top: 3.5rem;
          @include bg;
        }
        .promo__descr_bottom_wrapper{
          width: 94.5rem;
          .promo__descr_bottom{
            margin-top: 3.5rem;
            font-size: 1.4rem;
            width: 66.4rem;
          }
          .promo__button{
            width: 26rem;
            height: 4.7rem;
            margin-left: 6.6rem;
            font-size: 1.5rem;
          }
        }
      }
    }
    .promo__img_collage{
      position: absolute;
      width: 59.8rem;
      height: 52.6rem;
      left: 68rem;
      top: -4rem;
      .promo__collage_pic{
        position: absolute;
        border-radius: 2.1rem;
        border: .8rem solid #FFF;
        box-shadow: 0 0 1.6rem 0 rgba(0, 0, 0, 0.15);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .promo__collage_pic1{
        background-image: url("../img/promo/promo_collage/promo_collage_pic1.webp");
        width: 51.5%;
        height: 45.2%;
        z-index: 0;
        left: 6.4%;
        top: 3%;
        transform: rotate(-6.934deg);
      }
      .promo__collage_pic2{
        background-image: url("../img/promo/promo_collage/promo_collage_pic2.webp");
        background-position: 21% 72%;
        background-size: 155%;
        width: 24.4%;
        height: 49.6%;
        z-index: 1;
        left: 54%;
        top: 13%;
        transform: rotate(22.865deg);
      }
      .promo__collage_pic3{
        background-image: url("../img/promo/promo_collage/promo_collage_pic3.webp");
        background-size: 111%;
        background-position: 51% 74%;
        width: 38.8%;
        height: 27.2%;
        z-index: 2;
        top: 61%;
        left: 56%;
        transform: rotate(32.068deg);
      }
      .promo__collage_pic4{
        background-image: url("../img/promo/promo_collage/promo_collage_pic4.webp");
        background-size: 250%;
        background-position: 4% 81%;
        width: 43.5%;
        height: 39.5%;
        z-index: 0;
        top: 49%;
        left: 18%;
        transform: rotate(6.557deg);
      }
      .promo__collage_pic5{
        background-image: url("../img/promo/promo_collage/promo_collage_pic5.webp");
        background-size: 180%;
        background-position: center;
        width: 30.7%;
        height: 34%;
        z-index: 0;
        top: 47%;
        left: 3%;
        transform: rotate(-15deg);
      }
    }
  }
  .promo__pink_swirl{
    @include bg;
    background-image: url("../img/promo/promo_pink_swirl.webp");
    width: 22rem;
    height: 19.7rem;
    position: absolute;
    bottom: -5rem;
    left: 131rem;
  }
  .promo__figures{
    @include bg;
    width: 58.1rem;
    height: 41rem;
    position: absolute;
    bottom: -10rem;
    left: -5rem;
  }
}