.promo{
  padding-top: 11rem;
  .container{
    position: relative;
    .promo__wrapper{
      width: 66.4rem;
      height: 54.3rem;
      flex-direction: column;
      flex-wrap: wrap;
      .promo__titles{
        position: relative;
        .promo__title{
          color: #545F7E;
          font-family: 'Proserpina-Deco', sans-serif;
          font-size: 9.7rem;
          width: 68rem;
          letter-spacing: -2.425px;
          line-height: normal;
          span{
            color: #46D2B9;
          }
        }
        .promo__subtitle{
          color: #545F7E;
          font-size: 3.2rem;
          font-weight: 200;
          line-height: normal;
          letter-spacing: 16.16px;
          text-transform: uppercase;
          min-width: 55.7rem;
          position: absolute;
          top: 14rem;
          left: 13rem;
        }
      }
      .promo__descr_wrapper{
        margin-top: 5rem;
        .promo__descr_title{
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: -0.5px;
          span{
            text-transform: uppercase;
          }
        }
        .promo__descr{
          font-weight: 300;
          text-align: center;
        }
        .promo__descr_top{
          margin-top: 1rem;
          font-size: 1.6rem;
        }
        .promo__delimeter{
          width: 100%;
          height: 2.8rem;
          margin-top: 3.5rem;
          @include bg;
        }
        .promo__descr_bottom_wrapper{
          width: 94.5rem;
          .promo__descr_bottom{
            margin-top: 3.5rem;
            font-size: 1.4rem;
            width: 66.4rem;
          }
          .promo__button{
            width: 26rem;
            height: 4.7rem;
            margin-left: 6.6rem;
            font-size: 1.5rem;
          }
        }
      }
    }
    .promo__img_collage{
      position: absolute;
      width: 59.8rem;
      height: 52.6rem;
      left: 68rem;
      top: -3rem;
      .promo__collage_pic{
        position: absolute;
        border-radius: 2.1rem;
        border: .8rem solid #FFF;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .promo__collage_pic1{
        background-image: url("../img/promo/promo_collage/promo_collage_pic1.webp");
        width: 30.8rem;
        height: 23.8rem;
        z-index: 0;
        left: 3.4rem;
        top: 2rem;
        transform: rotate(-6.934deg);
      }
      .promo__collage_pic2{
        background-image: url("../img/promo/promo_collage/promo_collage_pic2.webp");
        background-position: -1.5rem -1rem;
        background-size: 155%;
        width: 14.6rem;
        height: 26.1rem;
        z-index: 1;
        left: 33.4rem;
        top: 6rem;
        transform: rotate(22.865deg);
      }
      .promo__collage_pic3{
        background-image: url("../img/promo/promo_collage/promo_collage_pic3.webp");
        background-size: 111%;
        background-position: -1rem -2rem;
        width: 23.2rem;
        height: 14.3rem;
        z-index: 2;
        top: 33rem;
        left: 34rem;
        transform: rotate(32.068deg);
      }
      .promo__collage_pic4{
        background-image: url("../img/promo/promo_collage/promo_collage_pic4.webp");
        background-size: 111%;
        background-position: -1rem -2rem;
        width: 26em;
        height: 20.8rem;
        z-index: 0;
        top: 33rem;
        left: 34rem;
        transform: rotate(6.557deg);
      }
    }
  }
}