<section class="how_it_use" id="subscription">
    <div class="container">
        <div class="how_it_use__content_wrapper flex --just-space">
            <h2 class="title how_it_use__title">Как пользоваться подпиской на игровой?</h2>
            <ul class="how_it_use__list">
                <li class="how_it_use__list_item flex --just-space">
                    <div class="how_it_use__li_wrapper">
                        <h3 class="how_it_use__li_title">Оформите подписку с триальным доступом </h3>
                        <div class="how_it_use__li_text">
                            Сначала ознакомьтесь с правилами подписки и условиями тарификации,
                            затем оформите подписку с триальным доступом.
                            Тестовый платеж вернется вам на карту в течение суток.
                        </div>
                    </div>
                </li>
                <li class="how_it_use__list_item flex --just-space">
                    <div class="how_it_use__li_wrapper">
                        <h3 class="how_it_use__li_title">Воспользоваться триальным периодом</h3>
                        <div class="how_it_use__li_text">
                            Триальный период принесет вам сутки доступа, за который вы можете
                            поиграть в игры, оценить свою вовлеченность и принять решение о
                            дальнейшем пользовании порталом.
                        </div>
                    </div>
                </li>
                <li class="how_it_use__list_item flex --just-space">
                    <div class="how_it_use__li_wrapper">
                        <h3 class="how_it_use__li_title">Наслаждаться играми сколько угодно!</h3>
                        <div class="how_it_use__li_text">
                            Независимо от ваших игровых предпочтений, у нас есть игры,
                            которые удовлетворят ваши потребности: погрузитесь в мир научной фантастики
                            с нашими стратегическими играми, разгадайте сложные головоломки
                            или просто расслабьтесь с простыми аркадами.
                            А отключить подписку можно в любой момент в разделе Управления подпиской.
                        </div>
                    </div>
                </li>
            </ul>
            <div class="how_it_use__arrow --svg__how_it_use_arrow"></div>
            <div class="how_it_use__figures"></div>
            <div class="how_it_use__figures_bg"></div>
            <div class="how_it_use__blue_swirl"></div>
        </div>
    </div>
</section>