*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: .52vw;
	font-family: 'Geologica', sans-serif;
	font-weight: 400;
	color: #263151;
}

body {
	font-size: 1.4rem;
	main{
		width: 100%;
		overflow: hidden;
	}
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.container{
	width: 116rem;
	margin: 0 auto;
}

a{
	text-decoration: none;
}

@include media('max', 'xl'){
	html{
		font-size: 0.7vw;
	}
}

@include media('max', 'l'){
	html{
		font-size: 0.8vw;
	}
}

@include media('max', 'm'){
	html{
		font-size: 1vw;
	}

	.container{
		width: 95.6rem;
	}
}

@include media('max', 's'){
	html{
		font-size: 2.67vw;
	}

	.container{
		width: 33.9rem;
	}
}