<section class="subscr_form">
    <div class="container" id="subscr_form__container">
        <div class="subscr_form__wrapper --svg__subscr_form_figures_bg">
            <div class="subscr_form__descr">
                <div class="subscr_form__logo --svg__site_logo"></div>
                <div class="subscr_form__title">Играй <span>на instandgames прямо сейчас</span></div>
                <ul class="subscr_form__list">
                    <li class="subscr_form__li">Сотни игровых тайтлов</li>
                    <li class="subscr_form__li">Высокие оценки игроков</li>
                    <li class="subscr_form__li">Более 5000 активных игроков</li>
                    <li class="subscr_form__li">Высокий онлайн</li>
                </ul>
                <div class="subscr_form__pay_sys_wrap">
                    <div class="subscr_form__pay_sys1 --svg__visa"></div>
                    <div class="subscr_form__pay_sys2 --svg__mir"></div>
                    <div class="subscr_form__pay_sys3 --svg__mastercard"></div>
                </div>
            </div>
            <form action="" class="subscr_form__form" id="order">
                <div class="subscr_form__form_title_wrapper">
                    <div class="subscr_form__form_title">НАЧНИ ПРЯМО СЕЙЧАС!</div>
                    <div class="subscr_form__sale">СКИДКА 97%</div>
                    <div class="subscr_form__price">11₽ вместо 899₽</div>
                </div>
                <input type="email" class="subscr_form__email" placeholder="Твой E-mail" required>
                <div class="subscr_form__checkboxes">
                    <div class="subscr_form__checkbox">
                        <div class="subscr_form__custom-checkbox">
                            <input type="checkbox" id="check" checked required>
                            <label for="check"></label>
                        </div>
                        <div class="subscr_form__checkbox_text">
                            Нажимая кнопку "Попробовать сейчас" Вы даете
                            <a href="https://veelgames.com/uploads/permission.pdf">согласие на обработку персональных данных</a>,
                            а также подтверждаете ознакомление с
                            <a href="https://veelgames.com/uploads/oferta.pdf">публичной офертой</a> и автоматическими списаниями.
                            Списание 11 руб. необходимо для создания настроек рекуррентного платежа и
                            возвращается в течение суток в полном объеме.
                            Первое списание в размере 899 рублей через 24 часа после подписки и далее,
                            согласно тарифу раз в 30 дней 899 рублей.
                        </div>
                    </div>
                    <div class="subscr_form__checkbox">
                        <div class="subscr_form__custom-checkbox">
                            <input type="checkbox" id="check2" checked required>
                            <label for="check2"></label>
                        </div>
                        <div class="subscr_form__checkbox_text">
                            Согласен на автоматическую оплату 899 рублей каждые 30 дней
                            по истечению пробного периода в 24 часа.
                            Возможно частичное списание 399 рублей за 14 дней доступа,
                            либо 199 рублей за 7 дней доступа, либо 89 рублей за 3 дня доступа.
                        </div>
                    </div>
                </div>
                <button type="submit" class="button subscr_form__button">попробовать сейчас</button>
            </form>
        </div>
        <div class="subscr_form__red_swirl"></div>
    </div>
    @@include('../../page-blocks/footer/_footer.html')
</section>